<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IArticleService" />
        <binding name="BasicHttpBinding_IBlogService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58806/ArticleService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IArticleService"
                contract="Client.Contracts.IArticleService" name="BasicHttpBinding_IArticleService" />
      <!--contract="ArticleService.IArticleService" name="BasicHttpBinding_IArticleService" />-->
      <endpoint address="http://localhost:58806/BlogService.svc" 
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBlogService"
                contract="Client.Contracts.IBlogService" name="BasicHttpBinding_IBlogService" />
      <!--contract="BlogService.IBlogService" name="BasicHttpBinding_IBlogService" />-->
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListerner" type="System.Diagnostics.XmlWriterTraceListener" initializeData= "c:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>